@import "reset";

$backgroundColor: #f0f5f9;
$textColor: #1e2022;
$lightColor: #52616a;
$break-large: 1000px;

// * {
//     border: 1px dotted red;
// }

#app,
body,
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: $backgroundColor;
    color: $textColor;
    padding: 1rem 2rem;
    line-height: 2rem;
    font-family: Roboto, sans-serif;
}

.field {
    height: 100%;
    display: inline-block;
    @media screen and (max-width: $break-large) {
        display: block;
    }
}

.gitLink {
  text-align: center;
  margin-bottom: 2rem;
}

.layout {
    width: 100%;
    height: 100%;
}

.inputDiv {
    width: 50%;
    height: 100%;
    @media screen and (max-width: $break-large) {
        width: 100%;
        height: 40%;
    }
}

.inputField {
    padding: 1rem;
    width: 90%;
    height: 80%;
    resize: none;
    font-size: 1.2em;
    border: 1px solid $lightColor;
    border-radius: 5px;
    color: $lightColor;
    @media screen and (max-width: $break-large) {
        height: 100%;
        width: 100%;
    }
}

.outputField {
    list-style-position: inside;
    list-style: disc;
    width: 50%;
    vertical-align: top;
    padding-top: 2em;
    @media screen and (max-width: $break-large) {
      margin: 2rem 1rem;
        width: 100%;
        height: auto;
    }
}

.title {
  font-size: 2rem;
  font-weight: bold;
}
